<mat-toolbar>
  <div class="title">
    <h1 class="title-search">Search</h1>
    <h1 class="title-devs">d_evs</h1>
  </div>
  <div class="input-container">
    <i class="material-icons search-icon">search</i>
    <input
      [(ngModel)]="username"
      matInput
      type="text"
      placeholder="Search"
      class="content-input"
    />
  </div>
</mat-toolbar>
<main *ngIf="user; else notFound">
  <div class="content-cards">
    <mat-card class="card-profile">
      <mat-card-header>
        <img
          mat-card-avatar
          [src]="user.avatar_url"
          alt="Photo of a Shiba Inu"
        />
        <div class="title-card-profile">
          <mat-card-title>
            {{ user.name }}
          </mat-card-title>
          <mat-card-subtitle>
            {{ user.login }}
          </mat-card-subtitle>
        </div>
      </mat-card-header>
      <mat-card-content>
        <p *ngIf="user.bio">
          {{ user.bio }}
        </p>
        <div class="profile-labels">
          <img src="../../../assets/Group.png" style="margin: 0;" alt="">
          <span> {{ user.followers }} seguidores </span>
        </div>

        <div class="profile-labels">
          <img src="../../../assets/heart.png" style="margin: 0;" alt="">
          <span> {{ user.following }} seguindo </span>
        </div>

        <div *ngIf="user.company" class="profile-labels">
          <img src="../../../assets/company.png" style="margin: 0;" alt="">
          <span>{{ user.company }}</span>
        </div>

        <div *ngIf="user.location" class="profile-labels">
          <img src="../../../assets/location.png" style="margin: 0;" alt="">
          <span>{{ user.location }}</span>
        </div>

        <div  *ngIf="user.email">
          <img src="../../../assets/email.png" style="margin: 0;" alt="">
          <span>{{ user.email }}</span>
        </div>

        <div  *ngIf="user.blog" class="profile-labels">
          <img src="../../../assets/link.png" style="margin: 0;" alt="">
          <a [href]="sanitizeUrl(user.blog)" target="_blank"
            >Website</a
          >
        </div>

        <div class="profile-labels"  *ngIf="user.twitter_username">
          <img src="../../../assets/Twitter.png" style="margin: 0;" alt="">
          <a
            *ngIf="user.twitter_username"
            [href]="'https://twitter.com/' + user.twitter_username"
            target="_blank"
            >Twitter</a
          >
        </div>
      </mat-card-content>
      <div class="btn-contact">
        <a [href]="user.html_url" mat-button>Contato</a>
      </div>
    </mat-card>
    <mat-card class="card-repository">
      <mat-card-content *ngFor="let repo of repos">
        <a [href]="repo.html_url" target="_blank">
          {{ repo.name }}
        </a>
        <p>{{ repo.description }}</p>
        <div class="repository-start">
         <img src="../../../assets/Star.png" style="margin: 0;" alt="star">
          <span>
            {{ repo.stargazers_count }}
          </span>
          <li>
            Atualizado há {{ repo.daysAgo }} dias
          </li>
        </div>
        <div style="width: 100%; border: 2px solid #e2e8f0"></div>
      </mat-card-content>
    </mat-card>
  </div>
</main>
<ng-template #notFound>
  <h4>Usuário não encontrado...</h4>
</ng-template>
