mat-toolBar {
  background-color: #FFFF;
  height: 88px;
}

.title {
  display: flex;
  gap: 10px;
}

.title-search {
  color: #0069CA;
  margin: 0;
  font-size: 32px;
  font-family: "Nunito";
  font-weight: 700;
}

.title-devs {
  color: #8C19D2;
  margin: 0;
  font-size: 32px;
  font-family: "Nunito";
  font-weight: 700;
}

.input-container {
  display: flex;
  width: 592px;
  height: 48px;
  align-items: center;
  border: 1px solid #e2e8f0;
  border-radius: 6px;
}

.input-container .material-icons.search-icon {
  margin-right: 8px;
  margin-left: 8px;
  color: #e2e8f0;
}

.input-container input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0;
  font-size: 16px;
  font-family: "Inter";
}


main {
  width: 100%;
  height: 100vh;
  background-color: #FCFCFC;
}

mat-card {
  background-color: #FFFF;
  display: flex;
  flex-direction: column;

}

.content-cards {
  display: flex;
  gap: 1em;
  margin: 0em 3em 0 3em
}

.card-profile {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  width: 27%;
  margin: 1em 0 1em 0;
}

.title-card-profile {
  margin-left: 1em;
}

mat-card-header img {
  margin: 0;
}

mat-card-header {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

mat-card-title {
  white-space: nowrap;
  font-size: 20px;
  color:#171923 ;
  font-weight: 700;
  line-height: 24px;
  font-family: 'Inter';
}

mat-card-subtitle {
  color:#A0AEC0;
  font-weight: 400;
  line-height: 21px;
  font-family: 'Inter';
}

.icon-contact-profile {
  display: flex;
  align-items: center;
  float: left;
  gap: 3px;
}

mat-card-content p {
  color: #4A5568;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Inter';
  font-weight: 400;
  margin-bottom: 1em;
}

.card-profile mat-card-content{
  margin: 0;
}

mat-icon {
  color: #4A5568;
}

.profile-labels {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5em;
  margin-bottom: .5em;
}

.profile-labels span {
  margin: 0;
  white-space: nowrap;
  font-size: 14px;
  font-family: 'Inter';
  line-height: 21px;
  font-weight: 400;
}

.profile-labels a {
  margin: 0;
  white-space: nowrap;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
}

.profile-labels mat-icon {
  margin: 0;
}

.card-repository {
  margin-top: 1em;
  width: 70%;
  height: 80vh;
  margin: 1em 0 1em 0;
  overflow: auto;
}

.card-repository mat-card-content {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: .8em;
  gap: 1em;

}

.card-repository mat-card-content a {
  padding: 0;
  margin: 0;
  font-size: 20px;
  text-decoration: none;
  color:#171923 ;
  font-weight: 700;
  line-height: 24px;
  font-family: 'Inter';
}

.card-repository mat-card-content p {
  margin: 0;
  font-size: 16px;
  color:#4A5568 ;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Inter';
}

.card-repository a {
  padding: 1em;
  text-decoration: underline;
  cursor: pointer;
  margin: 0;
  color: #0069CA;
}

.repository-start{
  display: flex;
  align-items: center;
  margin: 0;
  gap: .2em;
}

.repository-start mat-icon{
  margin: 0;
  transform: scale(.8);
  color: #4A5568;
}

.repository-start span{
  margin: 0;
  font-size: 14px;
  text-decoration: none;
  color:#4A5568 ;
  font-weight: 400;
  line-height: 21px;
  font-family: 'Inter';
}

.repository-start li{
  margin: 0 5px;
  font-size: 14px;
  text-decoration: none;
  color:#4A5568 ;
  font-weight: 400;
  line-height: 21px;
  font-family: 'Inter';
}

.btn-contact{
  display: flex;
  justify-content: center;
  margin: 4em 0 ;
}

.btn-contact a{
  width: max-content;
  width: 70%;
  background-color: #8C19D2;
  color: white;
  margin: 0;
}

.btn-contact a:hover{
  background-color: #a36bc6;
}

.btn-back button{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: red;
  color: white;
  margin: 0;
  padding: 10px, 24px, 10px, 24px;
  gap: 8px;
  border-radius: 6px;
  font-family: "Inter";
  line-height: 28px;
  font-weight: 600;
  border: 1px solid transparent;
}

.btn-back button:hover{
  background-color: rgb(197, 74, 74);
}
