<mat-toolbar>
  <div class="title">
    <h1 class="title-search">Search</h1>
    <h1 class="title-devs">d_evs</h1>
  </div>
  <div class="input-container">
    <i class="material-icons search-icon">search</i>
    <input
      [(ngModel)]="username"
      matInput
      type="text"
      placeholder="Search"
      class="content-input"
    />
  </div>
</mat-toolbar>
<main *ngIf="user; else notFound">
  <div class="content-cards">
    <mat-card class="card-profile">
      <mat-card-header>
        <img
          mat-card-avatar
          [src]="user.avatar_url"
          alt="Photo of a Shiba Inu"
        />
        <div class="title-card-profile">
          <mat-card-title>
            {{ user.name }}
          </mat-card-title>
          <mat-card-subtitle>
            {{ user.login }}
          </mat-card-subtitle>
        </div>
      </mat-card-header>
      <mat-card-content>
        <p *ngIf="user.bio">
          {{ user.bio }}
        </p>
        <div class="profile-labels">
          <mat-icon *ngIf="user.followers">groups</mat-icon>
          <span> {{ user.followers }} seguidores </span>
        </div>

        <div class="profile-labels">
          <mat-icon *ngIf="user.following">favorite</mat-icon>
          <span> {{ user.following }} seguindo </span>
        </div>

        <div class="profile-labels">
          <mat-icon *ngIf="user.company">location_city</mat-icon>
          <span>{{ user.company }}</span>
        </div>

        <div class="profile-labels">
          <mat-icon *ngIf="user.location">location_on</mat-icon>
          <span>{{ user.location }}</span>
        </div>

        <div>
          <mat-icon *ngIf="user.email">mail</mat-icon>
          <span>{{ user.email }}</span>
        </div>

        <div class="profile-labels">
          <mat-icon *ngIf="user.blog">link</mat-icon>
          <a *ngIf="user.blog" [href]="sanitizeUrl(user.blog)" target="_blank"
            >Website</a
          >
        </div>

        <div class="profile-labels">
          <mat-icon *ngIf="user.twitter_username">home</mat-icon>
          <a
            *ngIf="user.twitter_username"
            [href]="'https://twitter.com/' + user.twitter_username"
            target="_blank"
            >Twitter</a
          >
        </div>
      </mat-card-content>
      <div class="btn-contact">
        <a [href]="user.html_url" mat-button>Contato</a>
      </div>
    </mat-card>
    <mat-card class="card-repository">
      <mat-card-content *ngFor="let repo of repos.slice(0, visibleRepoCount)">
        <a [href]="repo.html_url" target="_blank">
          {{ repo.name }}
        </a>
        <p>{{ repo.description }}</p>
        <div class="repository-start">
          <mat-icon>star</mat-icon>
          <span>
            {{ repo.stargazers_count }}
          </span>
          <li style="margin: 0 2em; font-size: 12px">
            {{ repo.language }}
          </li>
        </div>
        <div style="width: 100%; border: 2px solid #e2e8f0"></div>
      </mat-card-content>

      <a
        *ngIf="visibleRepoCount < repos.length"
        class="btn btn-link"
        (click)="showMoreRepos()"
        >Ver Mais...</a
      >
    </mat-card>
  </div>
</main>
<ng-template #notFound>
  <h4>Usuário não encontrado...</h4>
</ng-template>
