<mat-toolbar>
  <div class="title">
    <h1 class="title-search">Search</h1>
    <h1 class="title-devs">d_evs</h1>
  </div>
  <div class="content-form-field">
    <mat-form-field appearance="outline">
      <mat-icon matSuffix>search</mat-icon>
      <input type="text" placeholder="search" matInput />
    </mat-form-field>
  </div>
</mat-toolbar>
<main *ngIf="user; else notFaund">
  <div class="content-cards">
    <mat-card class="card-profile">
      <mat-card-header>
        <img
          mat-card-avatar
          [src]="user.avatar_url"
          alt="Photo of a Shiba Inu"
        />
        <div class="title-card-profile">
          <mat-card-title style="color: #171923">
            {{ user.name }}
          </mat-card-title>
          <mat-card-subtitle style="color: #a0aec0">
            {{ user.login }}
          </mat-card-subtitle>
        </div>
      </mat-card-header>
      <mat-card-content>
        <p *ngIf="user.bio">
          {{ user.bio }}
        </p>
        <div class="profile-labels">
          <mat-icon *ngIf="user.followers">groups</mat-icon>
          <span> {{ user.followers }} seguidores </span>
        </div>

        <div class="profile-labels">
          <mat-icon *ngIf="user.following">favorite</mat-icon>
          <span> {{ user.following }} seguindo </span>
        </div>

        <div class="profile-labels">
          <mat-icon *ngIf="user.company">location_city</mat-icon>
          <span>{{ user.company }}</span>
        </div>

        <div class="profile-labels">
          <mat-icon *ngIf="user.location">location_on</mat-icon>
          <span>{{ user.location }}</span>
        </div>

        <div >
          <mat-icon *ngIf="user.email">mail</mat-icon>
          <span>{{ user.email }}</span>
        </div>

        <div class="profile-labels">
          <mat-icon *ngIf="user.blog">link</mat-icon>
          <a *ngIf="user.blog" [href]="sanitizeUrl(user.blog)" target="_blank"
          >Website</a
        >
        </div>

        <div class="profile-labels">
          <mat-icon *ngIf="user.twitter_username">home</mat-icon>
          <a
          *ngIf="user.twitter_username"
          [href]="'https://twitter.com/' + user.twitter_username"
          target="_blank"
          >Twitter</a
        >
        </div>
      </mat-card-content>
      <button>Contato</button>
    </mat-card>
    <mat-card class="card-repository">
      <mat-card-content *ngFor="let repo of repos.slice(0, visibleRepoCount)">
        <h3>
          {{repo.name}}
        </h3>
        <p>{{repo.description}}</p>
        <span>
          <mat-icon>star</mat-icon>
          {{repo.stargazers_count}}
        </span>
        <hr >
      </mat-card-content>

      <a *ngIf="visibleRepoCount < repos.length" class="btn btn-link" (click)="showMoreRepos()">Ver Mais...</a>
    </mat-card>
  </div>
</main>
<ng-template #notFaund>
  <h4>Usuário não encontrado...</h4>
</ng-template>
