<main>
  <div class="title">
    <h1 class="title-search">Search</h1>
    <h1 class="title-devs">d_evs</h1>
  </div>
  <div class="container">
    <div class="input-container">
      <i class="material-icons search-icon">search</i>
      <input
        [(ngModel)]="username"
        matInput
        type="text"
        placeholder="Search"
        class="content-input"
      />
    </div>
    <div class="content-search">
      <button (click)="searchUser()">Search</button>
    </div>
  </div>
</main>
